.subscribe-steps
  %ul.steps-container
    %li
      .text-center
        %p
          %span.step-number 1
        %p
          %span.step-name Account
    %li.step-seperator-container
      .step-seperator
    %li
      .text-center
        %p
          %span.step-number 2
        %p
          %span.step-name Personal Information
    %li.step-seperator-container
      .step-seperator
    %li
      .text-center
        %p
          %span.step-number 3
        %p
          %span.step-name Share on social network, get a reduce

    %li.step-seperator-container
      .step-seperator
    %li
      .text-center
        %p
          %span.step-number 4
        %p
          %span.step-name Receive your tips
    %li.step-seperator-container
      .step-seperator
    %li
      .text-center
        %p
          %span.step-number 5
        %p
          %span.step-name Payment