- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{(@select_plan && @select_plan.free?) ? 'four-steps' : ''}"}
      = render 'step_header',step: @step,select_plan: @select_plan
  .row
    .step-content
      .panel.panel-default
        .panel-body.text-center
          .pricing-wrapper
            = render 'home/pricing',plans: @plans,selected_plan: @selected_plan