-#- if @result
-#  $("#message_return").html("<p>Logging in</p>")
-#  window.location = '/'
-#- else
-#  $("#message_return").html("<p class="alert alert-error">Email or passowrd not math</p>");
