#rootwizard{'data-no-turbolink' => true}
  .navbar
    .navbar-inner
      .container
        %ul
          %li
            %a{href: subscribe_choose_offer_path} Choose Offer
          -# TODO, bad code -> query DB here
          - unless current_user && current_user.profile
            %li
              %a{"data-toggle" => "tab", href: "#tab2"} Identification
          %li
            %a{ href: subscribe_payment_method_path} Payment Method
          %li.active
            %a{"data-toggle" => "tab", href: "#tab4"} Payment
          %li
            %a{"data-toggle" => "tab", href: "#tab5"} Confirmation
  .tab-content
    #tab4.tab-pane.active
      %h3 Please review your selection
      %ul
        %li Plan : xyz
        %li Tipsters: 1,2,3
      %hr
      %h3 Would you win a bonus? Help us
      .span12
        .span4{style: 'padding: 10px; border: 1px solid #dadada'}
          = tweet_button
        .span4{style: 'padding: 10px; border: 1px solid #dadada'}
          = like_button '548927411872156', href: 'https://www.facebook.com/BetAdvisor', layout: :standard, show_faces: true
      %br
      -#%iframe{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FBet-Advisor%2F136780313136037&width&layout=standard&action=like&show_faces=true&share=true&height=80", style: "border:none; overflow:hidden; height:80px;"}
      %div{style: 'clear:both'}
      %h3 Coupon
      %input{type: :text, placeholder: 'example'}
      %hr
        %ul
          %li
            %strong
              Total:
              $
              = @amount
          %h4 Paypal form here!
        - payment_service_for  @pp_object[:item_number], PAYPAL_ACCOUNT, :amount => @pp_object[:amount],
             :currency => @pp_object[:currency], :service => :paypal, :html => {:class=>"form-paypal"} do |service|
        - service.tax "0.00"
        - service.item_name @pp_object[:item_name]
        - service.item_number @pp_object[:item_number]
        - service.notify_url notify_payment_url
        - service.return_url subscribe_success_url
        - service.cancel_return_url cancel_payment_url
        - hidden_field_tag :user_id, @pp_object[:user_id]
          = image_submit_tag('https://www.paypal.com/en_US/i/btn/x-click-but03.gif', alt:'Make Payment with Paypal')
:javascript
  $(document).ready(function() {
      $('#rootwizard').bootstrapWizard();
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
  });