- content_for :title do
  Registration
.container
  .row
    .subscribe-steps
      %ul.steps-container
        %li.complete
          .text-center
            %p
              %span.step-number 1
            %p
              %span.step-name Account
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 2
            %p
              %span.step-name Personal Information
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 3
            %p
              %span.step-name Share on social network

        %li.step-seperator-container
          .step-seperator
        %li.current
          .text-center
            %p
              %span.step-number 4
            %p
              %span.step-name Receive your tips
        %li.step-seperator-container
          .step-seperator
        %li
          .text-center
            %p
              %span.step-number 5
            %p
              %span.step-name Payment
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body.text-center
          = simple_form_for :nothing, url: subscribe_receive_methods_path , method: 'POST' , html: {id: 'form-receive-tip-methods'}do |f|
            %h3
              How do you want to receive your tips?
            .row
              .col-md-2.col-md-offset-5
                .checkbox
                  %label
                    %input{type: :checkbox, name: 'receive_tip_methods[]', value: 'by_email', checked: true} By Email
                .checkbox
                  %label
                    %input{type: :checkbox, name: 'receive_tip_methods[]', value: 'by_message'} By Message
            .row
              .text-center
                %br
                %button.btn.btn-success{type: :submit} Next >>