= javascript_include_tag 'subscribe'
- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{@select_plan.free? ? 'four-steps' : ''}"}
      = render 'step_header',step: @step,select_plan: @select_plan
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body.text-center
          = simple_form_for :nothing, url: subscribe_receive_methods_path , method: 'POST' , html: {id: 'form-receive-tip-methods'}do |f|
            %h3
              How do you want to receive your tips?
            .row
              .col-md-2.col-md-offset-5
                .checkbox
                  %label
                    %input{type: :checkbox, name: 'receive_tip_methods[]', value: 'by_email', checked: true} By Email
                .checkbox
                  %label
                    %input{type: :checkbox, name: 'receive_tip_methods[]', value: 'by_sms', checked: current_subscriber.receive_tip_by_sms?} By SMS
            .row
              .text-center
                %br
                %button.btn.btn-success{type: :submit} Next >>