= javascript_include_tag 'subscribe'
- content_for :title do
  Registration
.container
  .row
    .subscribe-steps
      %ul.steps-container
        %li.complete
          .text-center
            %p
              %span.step-number 1
            %p
              %span.step-name Account
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 2
            %p
              %span.step-name Personal Information
        %li.step-seperator-container
          .step-seperator
        %li.current
          .text-center
            %p
              %span.step-number 3
            %p
              %span.step-name Share on social network

        %li.step-seperator-container
          .step-seperator
        %li
          .text-center
            %p
              %span.step-number 4
            %p
              %span.step-name Receive your tips
        %li.step-seperator-container
          .step-seperator
        %li
          .text-center
            %p
              %span.step-number 5
            %p
              %span.step-name Payment
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body
          .row
            .col-md-6.col-md-offset-1
              %h3 Would you win a bonus? Help us
          .row
            .col-md-4.col-md-offset-1{style: 'padding: 10px; border: 1px solid #ccc; height: 90px'}
              .fb-login-button{"data-auto-logout-link" => "false", "data-max-rows" => "1",
                  "data-show-faces" => "false", "data-size" => "medium", onlogin: 'window.location.reload()', style: 'display:none'}
              = like_button '548927411872156', href: 'https://www.facebook.com/BetAdvisor', layout: :standard, show_faces: true
            .col-md-4.col-md-offset-1{style: 'padding: 10px; border: 1px solid #ccc; height: 90px'}
              = tweet_button url: 'https://twitter.com/hellorelaxation', lang: 'en', text: 'Check out this site', via: 'hellorelaxation'
          .text-center
            %br
            %button.btn.btn-success Next >>