- content_for :title do
  Registration
.container
  .row
    .subscribe-steps{class: "#{@select_plan.free? ? 'four-steps' : ''}"}
      = render 'step_header',step: @step,select_plan: @select_plan
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body.text-center
          %h3 Congratulation! You has been registered subscription successfully.
          - unless current_account.confirmed?
            %p.text-info
              = I18n.t('devise.registrations.signed_up_but_unconfirmed')
          %a.btn.btn-primary{href: subscription_path} Go to my subscription