- content_for :title do
  Registration
.container
  .row
    .subscribe-steps.three-steps
      %ul.steps-container
        %li.complete
          .text-center
            %p
              %span.step-number 1
            %p
              %span.step-name Account
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 2
            %p
              %span.step-name Personal Information
        %li.step-seperator-container
          .step-seperator
        %li.complete
          .text-center
            %p
              %span.step-number 3
            %p
              %span.step-name Confirmation
  .row
    .step-content.col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-body.text-center
          %h3 Congratulation! You has been registered subscription successfully.
          - unless current_account.confirmed?
            %p.text-info
              = I18n.t('devise.registrations.signed_up_but_unconfirmed')
          %a.btn.btn-primary{href: subscription_path} Go to my subscription