- if bets.empty?
  %p.text-danger
    %i Not found any bets on Betclic for this match!
  %p
    %a.btn.btn-warning.btn-xs{href: new_backoffice_tip_path(match: match)}
      Create tip with your own bet
- else
  #bets-on-match
    - bets.each_with_index do |bet, index|
      %h4= bet[:name]
      - bet[:choices].each do |choice|
        .bet-choice
          %span.text-bold
            - choice_name = choice[:selection]
            -#- choice_name.gsub!('Nul','Draw') if choice_name.include?('Nul')
            = choice_name
          %button.btn.btn-sm.btn-default.choice-odd-button{data: {'bet-type-code' => bet[:code], odd: choice[:odd],
              'choice-name' => choice_name, 'match-id' => match.opta_match_id, 'match-name' => match.name, 'bet-type-name' => bet[:name]}}
            = choice[:odd]
      %hr

