-#.row
-#  .clearfix.mam.bgw
-#    -#%h3 Tip information:
-#    -#= simple_form_for :nothing, url: get_matches_backoffice_tips_path, html:{ id: 'form-get-matches'} do |f|
-#    -#  .col-lg-4.text-center
-#    -#    %h4 Choose a sport
-#    -#    = select_tag :sport, options_for_select(@tipster_sports.map {|s| [s.name.titleize, s.id, data: {'url-for-next-step' => get_areas_backoffice_tips_path(sport_id: s.id)}]}),
-#    -#        id: 'select-sport-for-tip', prompt: '-- Choose one --', class: 'select2able',
-#    -#         'data-no-search'=> true
-#    -#  .col-lg-4.text-center
-#    -#    %h4 Choose a country/area
-#    -#    = select_tag :area, options_for_select([]), id: 'select-area-for-tip', prompt: '-- Choose one --', class: 'select2able'
-#    -#  .col-lg-4.text-center
-#    -#    %h4 Choose a League/Competition
-#    -#    = select_tag :competition, options_for_select([]), id: 'select-competition-for-tip', prompt: '-- Choose one --', class: 'select2able'
-#    -#  .clearfix
-#    -#    .text-center
-#    -#      %br
-#    -#      %button.btn.btn-primary.disabled#btn-get-matches{type: :button} Show Matches
-#    -#%hr
-#    .text-center
-#      %h3 Enter tip's information:
-#    = simple_form_for @tip, url: backoffice_tips_path, html: {class: 'form-horizontal', id: 'form-new-tip'} do |f|
-#      = f.input :match_name, label: 'Name of Match/Event'
-#      = f.input :sport_id, as: :select, collection: @tipster_sports.map {|s| [s.name.titleize, s.id]},
-#                                     include_blank: '-- Choose one --', input_html: {class: 'select2able', 'data-no-search' => true}
-#      = f.input :platform_id, as: :select, collection: platforms_for_select(@platforms),
-#            include_blank: '-- Choose one --', input_html: {class: 'select2able', 'data-no-search' => true}
-#      = f.association :bet_type, collection: bet_types_for_select(@bet_types),
-#            include_blank: '-- Choose one --', input_html: {class: 'select2able', 'data-no-search' => true, id: 'bet-types-select-for-tip'}
-#      = f.input :line, wrapper_html: {id: 'line-for-tip', class: "#{'hide' unless @tip.bet_type.try(:has_line?) }"}
-#      = f.input :odds
-#      = f.input :selection
-#      = f.input :amount
-#      = f.input :advice
-#      .form-group
-#        .col-sm-offset-4.col-sm-7
-#          %button.btn.btn-primary{type: :button} Submit
-#          %a.btn.btn-default{href: backoffice_my_tips_path } Cancel
-#
-#
-#
-#
.row
  .mam
    %h3 Step 1: Select your match or event
    %hr
    .clearfix
      .col-lg-7
        %strong Sort by:
        .btn-group{"data-toggle" => "buttons"}
          %label.btn.btn-default.active
            %input#option1{name: "options", type: "radio"}/
            Date
          %label.btn.btn-default
            %input#option2{name: "options", type: "radio"}/
            Competitions
      .col-lg-4
        %strong Date:
        %input.date-picker{type: :text, value: '2014/03/23'}
    .clearfix
      #available-matches-wrapper
        = render 'available_matches_list', matches: @matches