.row-fluid
  .span4
    %h2 My profile
    = simple_form_for @profile, url: my_profile_path ,:html => {class: 'form-horizontal'}, method: 'POST' do |f|
      = render 'form', f: f
      .form-actions
        = f.button :submit, "Save",class: 'btn btn-success'
.row-fluid
  - unless @user.coupon_codes.empty?
    .span4
      %h2 Coupon codes
      %ul
        - @user.coupon_codes.each do |cc|
          %li
            = cc.code