# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log
/tmp
/.idea
/nbproject
/config/database.yml
rails_best_practices_output.html
tipster.iml
public/uploads