%h2 Sign up
%br
= simple_form_for resource, :url => user_registration_path, :html => {class: 'form-horizontal'} do |f|
  = render 'shared/user_basic_fields', f: f
  -#- resource.build_profile unless resource.profile
  -#.span6
  -#  = f.simple_fields_for :profile do |f_pro|
  -#    = render 'profiles/form', f: f_pro
  .form-actions
    = f.button :submit, "Sign up", class: 'btn btn-success'
