-# Require variables:
-# * bets(Array)
- if bets.empty?
  %p.text-danger.text-center
    %i Not found any bets!
    %br
    %a.btn.btn-warning.btn-xs{href: new_backoffice_tip_path(match: match)}
      Create tip with your own bet
- else
  .bets-on-match.pam
    - bets.each_with_index do |bet, index|
      %h4.bet-type-name.text-warning= bet[:name]
      - bet[:choices].each do |choice|
        .bet-choice
          %span.text-bold
            - selection = choice[:selection]
            - selection.gsub!('%1%',match.team_a_name)
            - selection.gsub!('%2%',match.team_b_name)
            = selection
          %button.btn.btn-xs.btn-default.btn-choice-odd{data: {'bet-type-code' => bet[:code], 'odds' => choice[:odd],
              'selection' => selection, 'match-id' => match.id, 'match-name' => match.name, 'bet-type-name' => bet[:name]}}
            = choice[:odd]