- if bets.empty?
  %p.text-danger.text-center
    %i Not found any bets!
    %br
    %a.btn.btn-warning.btn-xs{href: new_backoffice_tip_path(match: match)}
      Create tip with your own bet
- else
  .bets-on-match.pam
    - grouped_bets = bets.group_by{|bet| bet[:name]}
    - grouped_bets.each do |bet_type, g_bets|
      %h4.bet-type-name.text-warning= bet_type
      - g_bets.each do |bet|
        - bet[:choices].each do |choice|
          .bet-choice
            %span.text-bold
              - selection = choice[:selection]
              = selection
            %button.btn.btn-xs.btn-default.btn-choice-odd{data: {'bet-type-code' => bet[:code], 'odds' => choice[:odd],
                'selection' => selection, 'match-id' => match.id, 'match-name' => match.name, 'bet-type-name' => bet[:name]}}
              = choice[:odd]

