.tipster-profile-subpage-links
  .container
    .row
      .col-md-9.col-md-offset-3.pts
        %ul.list-inline
          %li
            %a{href: tipster_path(tipster)}
              %i General statistics
          %li -
          %li
            %a{href: detail_statistics_tipster_path(tipster)}
              %i Details statistics
          %li -
          %li
            %a{href: last_tips_tipster_path(tipster)}
              %i Last tips
          %li -
          %li
            %a{href: description_tipster_path(tipster)}
              %i Tipster's description