-  content_for :title do
  = @tipster.full_name
- content_for :page_head_mid do
  = render 'profile_header', tipster: @tipster
  = render 'tipster_profile_subpage_links', tipster: @tipster
#profile-overiew-page
  .container
    .panel.panel-default
      .panel-body
        %h3.tipster-profile-subpage-header.black-bg Tipser's Description
        - if @tipster.description
          %p= @tipster.description.html_safe
        - else
          %p.text-muted No description for the tipster

