= content_for(:title,"Tipster profile page")
%h1 Tipster information
.container
  .col-md-6
    .well
      %h3 Statistics
  .col-md-6
.center-block
  %ul.sports-filter
    - @menu = ["General","Statistics","Last picks","Service Description","News"]
    - @menu.each do |menu|
      %li
        %a.btn.btn-default{href:"javascript:;"}= menu