%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    - url = admin_root_path
    - url = admin_dashboard_path if account_signed_in?
    %a.navbar-brand{href: url} Dashboard
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      - if current_admin
        %li
          %a{href: admin_tipsters_path}
            %i.fa.fa-group
            Tipters
        %li
          %a{href: admin_tips_path}
            %i.fa.fa-comments-o
            Tips
    %ul.nav.navbar-nav.navbar-right
      - if account_signed_in?
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = current_admin.full_name
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: admin_my_profile_path} My Profile
            %li.divider
            %li
              %a{href: admin_sign_out_path} Sign Out
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}