%h3 Registration steps
#rootwizard{'data-no-turbolink' => true}
  .navbar
    .navbar-inner
      .container
        %ul
          %li{class: set_current_register_step('identification')}
            %a{"data-toggle" => "tab", href: "#tab1"} Identification
          %li{class: set_current_register_step('offer')}
            %a{"data-toggle" => "tab", href: "#tab2"} Offer/Tipster
          %li{class: set_current_register_step('payment')}
            %a{"data-toggle" => "tab", href: "#tab4"} Payment
          %li{class: set_current_register_step('confirmation')}
            %a{"data-toggle" => "tab", href: "#tab5"} Confirmation
  .control-winzard
    %ul.pager.wizard
      %li.previous
        %a{href: "#"} &laquo; Previous
      %li.next
        %a{href: "#"} Next &raquo;
  .tab-content
    #tab1.tab-pane{class: set_current_register_step('identification')}
      = render 'registrations/identification'
    #tab2.tab-pane{class: set_current_register_step('offer')}
      = render 'registrations/offer' , {tipsters: @data[:tipsters_in_cart], :selected_plan => @data[:selected_plan]}
    #tab4.tab-pane{class: set_current_register_step('payment')}
      = render 'registrations/payment'
    #tab5.tab-pane{class: set_current_register_step('confirmation')}
      = render 'registrations/confirmation'


:javascript
  $(document).ready(function() {
      $('#rootwizard').bootstrapWizard();
  });