%a.btn.btn-small{:href => user_omniauth_authorize_path(:facebook), 'data-no-turbolink' => true} Facebook
%a.btn.btn-small{:href => user_omniauth_authorize_path(:google_oauth2), 'data-no-turbolink' => true} Google
-#%a.btn.btn-small{:href => user_omniauth_authorize_path(:twitter), 'data-no-turbolink' => true} Twitter
