%li
  %a{:href => account_omniauth_authorize_path(:facebook), 'data-no-turbolink' => true} Facebook
%li
  %a{:href => account_omniauth_authorize_path(:google_oauth2), 'data-no-turbolink' => true} Google