- payment_service_for  object[:item_number], PAYPAL_ACCOUNT, :amount => object[:amount], :currency => object[:currency], :service => :paypal, :html => {:class=>"form-paypal"} do |service|
- service.tax "0.00"
- service.item_name object[:item_name]
- service.item_number object[:item_number]
- service.notify_url notify_payment_url
- service.return_url return_payment_url
- service.cancel_return_url cancel_payment_url
- hidden_field_tag :user_id, object[:user_id]
  = image_submit_tag('https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg', alt:'Make Payment with Paypal')