$("#payment").html("");
$("#payment").html("#{escape_javascript(render 'paypalform', :object => @paypal_obj)}");
var paypal_form = $("form.form-paypal");
$('
%input>/
',{
type: 'hidden',
name: 'lc',
value: 'EN'
}).appendTo(paypal_form);

\//$("form.form-paypal").submit();
paypal_form.submit();