- content_for :page_head_mid do
  = render 'top_tipster', :tipsters => @top_4
- content_for :title do
  Home
%link{href: "http://fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet", type: "text/css"}/
#values-intro
  .container
    .row
      .col-md-2
        .value-intro-1.pull-right
          %h1 How it works
      .col-md-3
        .value-intro-2
          .value-intro-avatar
            =image_tag('values-1.jpg', class:'img-responsive')
          .value-intro-text
            %span ADD your favorite tipster <br/> in your basket
      .col-md-3
        .value-intro-2
          .value-intro-avatar
            =image_tag('value-2.jpg', class:'img-responsive')
          .value-intro-text
            %span Receive the tips by <br/> email, sms, notification
      .col-md-3
        .value-intro-2
          .value-intro-avatar
            =image_tag('value-3.jpg', class:'img-responsive')
          .value-intro-text
            %span play your tipster’s ticket and grow Your profit

#Nos-abonnaments
  .container
    %h1.box-title.text-center HOW MUCH DOES IT COST ?
    .row
      .col-md-4.col-md-offset-2
        .abonnaments.basic
          .abon-head.text-center
            =image_tag('abon-text-basic-1.png')
          .abon-mid-1
            %h1 Free
          .abon-mid-2
            %ul.list-unstyled
              %li All the sports information before betting
              %li Follow our advice with our intelligent system of bets
              %li TipsterHero's advices
          %hr.divider
          .text-center.row
            %a.btn.btn-lg.btn-success.col-md-6.col-md-offset-3(href="javascript:;") Sign Up
      .col-md-4
        .abonnaments.super
          .abon-head.text-center
            = image_tag 'abon-text-super-1.png'
            .absolute
              = image_tag 'robbon.png'
          .abon-mid-1
            %h1
              %span from
              $24,90
          .abon-mid-2
            %ul.list-unstyled
              %li Let's win thanks to our professionals 
              %li A specialist in every sports
              %li Real-time informations
              %li Pro features
              %li Profit guaranteed
          %hr.divider
          .text-center.row
            %a.btn.btn-lg.btn-success.col-md-6.col-md-offset-3(href="javascript:;")= t('user.sign_up')
- if @show_sign_in_box
  :javascript
    $('document').ready(function(){
      $('.lk-toggle-sign-in-box').trigger('click');
      Helper.flash_message('danger',"You need to sign in before continuing", 5000, '#sign-in-message-container');
    });
