%h3 Payment method
Select Paypal instant payment || Credit card

%h3 Would you win a bonus? Help us
Here is [Like] Fakebook or Tweet on Twitter

%h3 Coupon
%input{type: :text, placeholder: 'example'}