// contain header html of page
#page_header_top
  .container.clearfix
    #tipster-logo-main.pull-left
      %a{:href=>"/"}
        =image_tag("tipster-logo-main.png", :alt=>"Tipster hero", :class=>"img-responsive")
    #menu-main.pull-right
      %ul.list-inline
        - @items = ['Tipster', 'Features', 'Pricing', 'Sign In', 'Connect']
        - @items.each do |node|
          %li
            %a{:href=>"javascript:;"}= node

#page_header_mid

  // this is container header box for sub-page (signup - steps etc)
  #sub-page-header
    .container.clearfix
      .pull-left
        #sub-page-title.clearfix
          %span(class="icon typcn typcn-location pull-left man")
          .pull-right
            #sub-page-navi
              %ul.list-inline.man.text-slim
                - @items = ['Home', 'Tipsters']
                - @items.each do |node|
                  %li
                    %a{:href=>"javascript:;"}= node
            %h1#sub-page-h1.man.text-slim Registration
      .pull-right
        #sub-page-quickpanel.clearfix
          .quickpanel-left
          .quickpanel-mid
            %ul.list-inline.man
              %li
                %a{:href=>"javascript:;"} Cart Box (2)
              %li
                %a{:href=>"javascript:;"} Languages
              %li
                %a{:href=>"javascript:;"}
                  %i(class="typcn typcn-cog")
          .quickpanel-right

  #board-gray
    .board-gray-inner.container.relative
      %h3.text-slim.man Stop gambling, invest...  get tips from <br>proven proffesional tipsters
      .absolute.guranteen
        =image_tag 'guaran.png'
