// contain header html of page
#page_header_top
  .container.clearfix
    #tipster-logo-main.pull-left
      %a{:href=>"/"}
        =image_tag("tipster-logo-main.png", :alt=>"Tipster hero", :class=>"img-responsive")
    #menu-main.pull-right
      %ul.list-inline
        %li
          %a{href: pricing_path} Pricing
        %li
          %a{href: tipsters_path} Tipsters
        %li
          %a{href: tips_path} Tips
        - if current_subscriber
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              = current_subscriber.full_name
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: my_profile_path} My Profile
              %li
                %a{href: subscriptions_path} My Subscription
              %li.divider
              %li
                %a{href: destroy_account_session_path} Sign Out
        - else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Connect
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: new_account_registration_path} Register
              %li
                %a{href: new_account_session_path} Sign In
              = render 'shared/social_connection_links'

#page_header_mid

  // this is container header box for sub-page (signup - steps etc)
  - if @page == 'home'
    #page-header
      #feature-profiles
        .container
          %div(id="feature-carousel" class="carousel slide" data-ride="carousel")
            .carousel-inner
              .item.active
                - @hotTipsters = ['1', '2', '3', '4', '5']
                - @hotTipsters.each do |node|
                  .hotTipster-unit
                    .hotTipster-head
                      %span.proofed No. Proofed Tips: 190
                      %span.yield Yield: 19.95%
                    .hotTipster-body
                      =image_tag('demo.jpg')
                    .hotTipster-foot
                      .chart-mini
                        =image_tag('chart-mini.jpg')
                      %a(href="javascript:;" class="see-profile-link" ) See Profile
              .item
                - @hotTipsters = ['1', '2', '3', '4', '5']
                - @hotTipsters.each do |node|
                  .hotTipster-unit
                    .hotTipster-head
                      %span.proofed No. Proofed Tips: 190
                      %span.yield Yield: 19.95%
                    .hotTipster-body
                      =image_tag('demo.jpg')
                    .hotTipster-foot
                      .chart-mini
                        =image_tag('chart-mini.jpg')
                      %a(href="javascript:;" class="see-profile-link" ) See Profile
              .item
                - @hotTipsters = ['1', '2', '3', '4', '5']
                - @hotTipsters.each do |node|
                  .hotTipster-unit
                    .hotTipster-head
                      %span.proofed No. Proofed Tips: 190
                      %span.yield Yield: 19.95%
                    .hotTipster-body
                      =image_tag('demo.jpg')
                    .hotTipster-foot
                      .chart-mini
                        =image_tag('chart-mini.jpg')
                      %a(href="javascript:;" class="see-profile-link" ) See Profile
            %a(class="left carousel-control" href="#feature-carousel" data-slide="prev")
              %span(class="glyphicon glyphicon-chevron-left")
            %a(class="right carousel-control" href="#feature-carousel" data-slide="next")
              %span(class="glyphicon glyphicon-chevron-right")

  -else
    #sub-page-header
      .container.clearfix
        .pull-left
          #sub-page-title.clearfix
            %span(class="icon typcn typcn-location pull-left man")
            .pull-right
              #sub-page-navi
                %ul.list-inline.man.text-slim
                  - @items = ['Home', 'Tipsters']
                  - @items.each do |node|
                    %li
                      %a{:href=>"javascript:;"}= node
              %h1#sub-page-h1.man.text-slim Registration
        .pull-right
          #sub-page-quickpanel.clearfix
            .quickpanel-left
            .quickpanel-mid
              %ul.list-inline.man
                %li
                  %a{:href=>"javascript:;"} Cart Box (2)
                %li
                  %a{:href=>"javascript:;"} Languages
                %li
                  %a{:href=>"javascript:;"}
                    %i(class="typcn typcn-cog")
            .quickpanel-right

  #board-gray
    .board-gray-inner.container.relative
      %h3.text-slim.man Stop gambling, invest...  get tips from <br>proven proffesional tipsters
      .absolute.guranteen
        =image_tag 'guaran.png'
