- content_for :title do
  Server Error

.container.bgw.text-center.error-500
  %h1{style: 'font-size: 150px'} 404
  %h4.text-danger
    Request not found
  %a.btn.btn-default.btn-sm{href: root_path} Return to HomePage

