.row-fluid
  .well
    %h3 Your select plan #{@plan.title}
    .row
      %h3
        Your selected tipster
      - @tipsters.each do |tipster|
        %p
          = tipster.name
    = form_tag payment_path ,remote: true do
      %button.btn.btn-warning Paypal Check Out
  #payment