@import "../lib/general";

// common
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


body {
  background-color: $gray-light;
}

.anchor-app {
  padding: 8px 10px;
  background-color: shade($gray-dark, 50%);
  color: white;
  font-size: 14px;
}


//-----------------------------
@import "page_header";
@import "page_footer.css.scss";