@import "../lib/general";

// common
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


body {
  background-color: $gray-light;
}

.anchor-app {
  padding: 8px 10px;
  background-color: shade($gray-dark, 50%);
  color: white;
  font-size: 14px;
}


.tipster-form-bg {
  background: url(/assets/form-bg.jpg) no-repeat top center;
  min-height: 458px;
}
.tipster-form-board {
  color: #ffffff;
  background-color: rgba(black, 0.3);
  font-size: 20px;
  font-weight: 200;
  .tipster-form-board-sp {
    background-color: rgba(black, 0.4);
  }
}
.tipster-form {
  margin: 0 auto;
  width: 511px;
  padding: 5px 20px;
  .tipster-form-top {
    background: url(/assets/form-top.png) no-repeat top center;
    height: 7px;
  }
  .tipster-form-mid {
    background: url(/assets/form-mid.png) repeat-y top center;
    form {
      padding-top: 20px;
      padding-right: 25px;
    }
    input {
      background-color: $gray-light;
      border-color: $gray-light;
      box-shadow: none;
      &.form-control {
        font-size: 12px;
        height: 25px;
        line-height: 23px;
      }
    }
    label.control-label {
      font-size: 12px;
      line-height: 23px;
      padding-top: 0;
      font-weight: normal;
    }
  }
  .tipster-form-bot {
    background: url(/assets/form-bot.png) no-repeat top center;
    height: 44px;
  }
}


.tipster-list {
  padding-top: 30px;
  padding-bottom: 20px;
  background: url(/assets/granit.jpg) repeat left top;
  .tipster-list-inner {
    padding: 0;
    border-radius: 4px;
    background-color: #fafafa;
    border: solid 1px #d9d9d9;
    box-shadow: 0 2px 6px rgba(black, 0.1);
    min-height: 200px;
    :first-child {
      border-radius: 4px 4px 0 0;
    }
  }
  .tipster-list-line1 {
    @include linear-gradient(to top, #ededed 0%, #f0f0f0 6%, #ffffff 100%);
    min-height: 25px;
    border-bottom: solid 1px #dddddd;
  }
  .tipster-list-line2 {
    border-bottom: solid 1px #dddddd;
    background-color: white;
    padding: 10px 25px;
    font-size: 12px;
  }
  .tipster-list-table {
    width: 95%;
    margin: 20px auto;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(black, 0.06);
    table {
      margin: 0;
      border: none;
      font-size: 12px;
      thead {
        * {
          color: $green-site;
          font-weight: bold;
        }
      }
    }
    td {
      border-left: solid 1px #d9d9d9;
      vertical-align: middle;
      &:first-child {
        border-left: none;
      }
    }
  }
}



//-----------------------------
@import "page_header";
@import "page_footer.css.scss";