@font-face {
  font-family: 'Alternate-Gothic';
  font-weight: normal;
  font-style: normal;
  src: asset-url('alternate-gothic-no2-bt-webfont.eot');
  src: asset-url('alternate-gothic-no2-bt-webfont.eot?#iefix') format('embedded-opentype'), asset-url('alternate-gothic-no2-bt-webfont.woff') format('woff'), asset-url('alternate-gothic-no2-bt-webfont.ttf') format('truetype'), asset-url('alternate-gothic-no2-bt-webfont.svg') format('svg')
}

@font-face {
  font-family: 'Futuram';
  font-weight: normal;
  font-style: normal;
  src: asset-url('futuram-webfont.eot');
  src: asset-url('futuram-webfont.eot?#iefix') format('embedded-opentype'), asset-url('futuram-webfont.woff') format('woff'), asset-url('futuram-webfont.ttf') format('truetype'), asset-url('futuram-webfont.svg') format('svg')
}
@font-face {
  font-family: 'BebasNeue';
  font-weight: normal;
  font-style: normal;
  src: asset-url('BebasNeue-webfont.eot');
  src: asset-url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), asset-url('BebasNeue-webfont.woff') format('woff'), asset-url('BebasNeue-webfont.ttf') format('truetype'), asset-url('BebasNeue-webfont.svg') format('svg')
}