@import "../lib/general";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,300italic|Montserrat:400,700);

#values-intro {
  background: url(/assets/granit.jpg) repeat;
  padding-top: 44px;
  padding-bottom: 50px;
  .col-md-3{
    width:27%;
  }
  .value-intro-1 {
    span {
      font-size: 18px;
    }
    h1{
      font-family: 'Alternate-Gothic';
      text-transform: uppercase;
    }
  }
  .value-intro-2 {
    background: url('/assets/dash-arrow.png') no-repeat left center;
    padding-left: 30px;
    .value-intro-text {
      font-family: 'BebasNeue';
      font-weight: normal;
      font-size: 20px;
      text-transform: uppercase;
      color: black;
      text-align: center;
      line-height: 1.4;
      padding-top: 15px;
    }
  }
}

#Nos-abonnaments {
  padding: 20px 0 40px;
  background-color: shade($gray-dark, 50%);
  .col-md-4{
    width:31%;
    margin-right:3.33%;
  }
  .abonnaments {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    opacity: 0.8;
    @include transition(all 0.25s);
    &:hover,
    &.selected {
      opacity: 1;
    }
    > div {
      padding-left: 10px;
      padding-right: 10px;
    }
    .abon-head {
      position: relative;
      .absolute {
        top: -25px;
        right: -7px;
      }
    }
    .abon-mid-1 {
      background: url(/assets/abon-mid-1-bg.png) repeat-x left top;
      height: 110px;
      h1 {
        color: shade($gray-dark, 50%);
        text-align: center;
        line-height: 110px;
        font-size: 50px;
        text-transform: uppercase;
        span {
          font-size: 12px;
          position: relative;
          line-height: 1;
          top: -40px;
        }
        #month{
          font-family: tahoma, arial, sans-serif;
          font-size: 12px;
          position: relative;
          line-height: 1;
          top: -38px;
          right: -90px;
        }
      }
    }
    .abon-mid-2 {
      padding: 20px 10px 0 30px;
      min-height: 180px;
      ul {
        padding-left: 0;
        margin-left: 0;
        magin-bottom: 0;
        li {
          padding-bottom: 5px;
          padding-top: 2px;
          padding-left: 35px;
          background: url(/assets/donut.png) no-repeat left 0px;
          font-size: 16px;
          line-height: 1.6;
        }
      }
    }
    &.basic {
      border-radius: 20px;
      background-color: #bdbdbd;
    }
    &.super {
      border-radius: 20px;
      background-color: white;
    }
  }
}

.box-title {
  font-weight: bold;
  color: $green-site;
  margin-bottom: 40px;
}