
.subscription-price{
  height: 137px;
  font-family: "Georgia", serif;
  font-size: 38px;
  color: #424242;
  text-align: center;
}

#modal-confirm-checkout,#modal-confirm-adding{
  .modal-header, .modal-footer{
    background: #3B862D;
    color:#FFFFFF;
    height: 33px;
    padding: 5px 10px;
  }
  .modal-content{border-radius: 0;}
  .modal-body{
    p:first-child{
      font-weight: bold;
    }
    .adding{
      background-color: #f5f5f5;
      .adding-header{
        background: #3B862D;
        color:#FFFFFF;
        height: 25px;
        padding: 3px 3px;
        p{
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
    .tipster_info{
      li:first-child{
        font: 600 16px/18px 'Source Sans Pro',sans-serif;
      }
      .responsive-image{
        img{
          width: 215px;
          padding: 25px;
        }
      }
    }
    .subscription-info{
      li:first-child{
        font: 600 16px/18px 'Source Sans Pro',sans-serif;
      }
    }
  }
  .modal-footer{
    .checkoutbtn{
      padding: 1px 20px;
      color: #fff;
      background-color: #424242;
    }
  }
  .submitLink {
    background-color: transparent;
    border: none;
    color: #3B862D;
    cursor: pointer;
    font-size: 16px;
  }
}

#modal-change-tipster,#modal-change-plan{
  .modal-content{
    .modal-body{
      .tipster-list-line1{
        a{
          padding: 10px 15px;
        }
      }
    }
  }
  .modal-dialog{
    width:1000px !important;
  }
}
