@import "../lib/general";

#tipster_list {

  #tipster-list-table {
    tbody {
      tr {
        td:first-child {
          .tipster-name {
            color: black;
            font-weight: normal;
            font-size: 16px;
          }
        }
      }
      tr:nth-child(1) {
        background-color: #B4FFA7;
      }
      tr:nth-child(2) {
        background-color: #C6FFB3;
      }
      tr:nth-child(3) {
        background-color: #E3FFDA;
      }
    }
    .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
      background-color: #F7FFE7;
    }
  }

}



// tipster profile
#profile-overiew-page {
 @extend .background-granite;

  #profile-overview {
    border: none;
    #profile-overview-common {
      border: solid 1px tint($gray, 50%);
      background-color: white;
      #profile-overview-avatar {

      }
    }
  }

}

#top_tipsters_of_weeks{
  width: 15%;
  float: left;
  border-radius: 4px;
  background-color: #fafafa;
  border: solid 1px #d9d9d9;
  box-shadow: 0 2px 6px rgba(black, 0.1);
  min-height: 200px;
  h4{
    display: inline-block;
    line-height: 25px;
    font-size: 12px;
    padding: 0px 25px;
    color: #3b862d;
    text-transform: uppercase;
    font-weight: bold;
  }
  .tipster-top-body {
    padding-top: 30px;
  }
  .tipster-top-unit {
    margin-bottom: 15px;
    .tipster-top-avatar {
      width: 75%;
      margin: 0 auto;
      border-radius: 3px;
      margin-bottom: 5px;
    }
    .tipster-top-name {
      font-size: 12px;
    }
  }
}