/*
 *= require_tree ../../../vendor/assets/stylesheets/framework/bootstrap
 *= require partials/_common
 *= require partials/_page_home
 *= require font-awesome.min
 *= require select2
 *= require select2-bootstrap
 *= require bootsy
 *= require flags
 *= require common
 */

.bgw {
    background-color: #fff;
}

.login-form-wrapper {
    padding: 10px;
    border: 1px solid #dadada;
}

.alert {
    padding: 5px 15px;
}

.hide-tmp {
    display: none;
}

.tr-details-toggable {
    cursor: pointer;
}

.match {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    padding: 5px;
}

.match .bets {
    border-top: 1px dashed #dadada;
    margin-top: 8px;
    padding: 5px;
}

.bets-on-match .bet-type-name {
    border-bottom: 1px solid #dadada;
}

.bet-choice {
    text-align: center;
    width: 300px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

#confirm-select-odd-modal .match-name {
    font-size: 25px;
    margin-bottom: 5px;
}

.match-hour {
    border: 1px solid #dadada;
    padding: 0 7px;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.match-name {
    padding: 0 5px;
    display: inline-block;
}

label.control-label {
    cursor: pointer;
}

.select2able {
    width: 100%;
}

.wysihtml5-sandbox {
    width: 100% !important;
    min-height: 400px;
}

/* Fix menu smaller */
#page_header_top #menu-main ul {
    padding-top: 10px;
}

#page_header_top #tipster-logo-main a {
    height: 50px;
}

#page_header_top #tipster-logo-main a img {
    max-width: 70%;
}

/* Left menu filter sport areas, competittions */
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav li + .nav-header {
    margin-top: 9px;
}

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
}

.nav-list > li > a {
    padding: 3px 15px;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
    margin-right: 2px;
}

.nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.competitions-tree-menu {
    padding: 5px;
    border-radius: 2px;
    border: 2px solid #eee;
}

.tree-toggler {
    cursor: pointer;
}

.flag-icon {
    border: 1px solid #eee;
}

.lb-inline-filter {
    font-weight: 600;
    padding-right: 5px;
}

.select2-container .select2-choice {
    border-radius: 2px;
    height: 30px;
}

.lk-select-competition {
    font-size: 13px;
}

.lk-select-competition.active {
    font-weight: bold;
    background-color: #eee;
}

.btn-normal {
    background-color: #fff;
    border-color: #ccc;
}