/*
 *= require_tree ../../../vendor/assets/stylesheets/framework/bootstrap
 *= require partials/_common
 *= require partials/_page_home
 *= require font-awesome.min
 *= require select2
 *= require select2-bootstrap
 *= require flags
 */

.bgw {
    background-color: #fff;
}

.hide-tmp {
    display: none;
}

.tr-details-toggable {
    cursor: pointer;
}

.match {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    padding: 5px;
}

.match .bets button:hover {

}

.match .bets {
    border-top: 1px dashed #dadada;
    margin-top: 8px;
    padding: 5px;
}

.bet-choice {
    text-align: center;
    width: 250px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

#confirm-select-odd-modal .match-name {
    font-size: 35px;
    margin-bottom: 5px;
}

.match-hour {
    border: 1px solid #dadada;
    padding: 0 7px;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.match-name {
    padding: 0 5px;
    display: inline-block;
}

label.control-label {
    cursor: pointer;
}

.select2able {
    width: 100%;
}