ul.sports-filter {
    text-align: center;
}

ul.sports-filter li {
    display: inline;
}

#tipster_statuses_filer {
    vertical-align: inherit;
}

#backoffice-navbar {
    background-color: #F1FCBA;
}

body {
    background: #fff;
}

.dropdown-menu li a {
    line-height: 40px !important;
}

.user_avatar {
    max-width: 140px;
}

.tipster-profit-chart {
    float: right;
}

ul.inline {
    list-style: none;
}

ul.inline > li {
    display: inline-block;
}

label.control-label, label.checkbox {
    cursor: pointer;
}

.profile-overview {
    margin: 5px;
    padding: 10px 25px;
    border: 1px dashed #DADADA;
}

#profil-chart-container {
    height: 400px;
}

#page_header_top #menu-main ul li a {
    /*font-family: fantasy;*/
}

.tipster-list .tipster-list-line1 ul.list-inline li a.current {
    background-color: #3b862d;
    color: #ffffff;
}

.lk-change-lang.current {
    font-weight: bold;
}

.btn.btn-facebook {
    color: #fff;
    border: 1px solid #2d4479;
    -webkit-box-shadow: inset 0 1px 2px #5272bf;
    -moz-box-shadow: inset 0 1px 2px #5272bf;
    box-shadow: inset 0 1px 2px #5272bf;
    background: #385496;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #4365b4), color-stop(100%, #385496));
    background-image: -webkit-linear-gradient(top, #4365b4, #385496);
    background-image: -moz-linear-gradient(top, #4365b4, #385496);
    background-image: -o-linear-gradient(top, #4365b4, #385496);
    background-image: linear-gradient(top, #4365b4, #385496);
}

.btn.btn-facebook:active {
    background: #3d5ca5;
    border-color: #2a3f71;
    -webkit-box-shadow: 0 0 5px #3d5ca5 inset;
    -moz-box-shadow: 0 0 5px #3d5ca5 inset;
    box-shadow: 0 0 5px #3d5ca5 inset;
}
.btn.btn-facebook:hover {
    background: #365293;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #4365b4), color-stop(100%, #365293));
    background-image: -webkit-linear-gradient(top, #4365b4, #365293);
    background-image: -moz-linear-gradient(top, #4365b4, #365293);
    background-image: -o-linear-gradient(top, #4365b4, #365293);
    background-image: linear-gradient(top, #4365b4, #365293);
    -webkit-transition: box-shadow .05s ease-in-out;
    -moz-transition: box-shadow .05s ease-in-out;
    -o-transition: box-shadow .05s ease-in-out;
    transition: box-shadow 0.05s ease-in-out;
}