#content-wrapper {
    padding-top: 20px;
}

ul.sports-filter {
    text-align: center;
}

ul.sports-filter li {
    display: inline;
}

#tipster_statuses_filer {
    vertical-align: inherit;
}

#backoffice-navbar {
    background-color: #F1FCBA;
}

body {
    background: #fff;
}

.dropdown-menu li a {
    line-height: 40px !important;
}

.user_avatar {
    max-width: 140px;
}

.tipster-profit-chart {
    float: right;
}

ul.inline {
    list-style: none;
}

ul.inline > li {
    display: inline-block;
}

label.control-label, label.checkbox {
    cursor: pointer;
}

.profile-overview {
    margin: 5px 0;
    padding: 10px 0;
    border: 1px dashed #DADADA;
}

#profil-chart-container {
    height: 400px;
}

#page_header_top #menu-main ul li a {
    /*font-family: fantasy;*/
}

.tipster-list .tipster-list-line1 ul.list-inline li a.current {
    background-color: #3b862d;
    color: #ffffff;
}

.lk-change-lang.current {
    font-weight: bold;
}

@media (min-width: 768px) {
    #sign-up-modal-box.modal .modal-dialog {
        width: 500px;
        z-index: 9999;
        position: relative;
    }

    #sign-in-modal-box.modal .modal-dialog {
        width: 400px;
    }

    /*body{*/
    /*background:white;*/
    /*background:rgba(255,255,255,0.8);*/
    /*filter:blur(4px);*/
    /*-o-filter:blur(4px);*/
    /*-ms-filter:blur(4px);*/
    /*-moz-filter:blur(4px);*/
    /*-webkit-filter:blur(4px);*/
    /*}*/
    /*body.modal-open #page-footer-values {*/
        /*-webkit-filter: blur(4px);*/
        /*-moz-filter: blur(4px);*/
        /*-o-filter: blur(4px);*/
        /*-ms-filter: blur(4px);*/
        /*filter: blur(4px);*/
    /*}*/
}

.btn.in-progress {
    outline: none;
    cursor: default;
    opacity: 1 !important;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-size: 40px 40px;
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

/* Steps */
ul.steps-container {
    list-style: none;
}

ul.steps-container li {
    width: 120px;
    float: left;
    min-height: 65px;
    display: inline-block;
}

ul.steps-container li.complete .step-number {
    background-color: #97BB2F;
}

ul.steps-container li.current .step-number {
    background-color: #FFC303;
}

span.step-number {
    font-size: 17px;
    padding-top: 4px;
    background: #cccccc;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
}

ul.steps-container .step-name {
    font-weight: 700;
}

li.step-seperator-container {
    padding: 15px 0;
}

.step-seperator {
    position: absolute;
    margin-left: -14px;
    margin-right: 5px;
    background-color: #dadada;
    min-width: 150px;
    height: 5px;
}

.step-content .panel {
    padding-top: 15px;
    padding-bottom: 15px;
}

.subscribe-steps {
    overflow-x: hidden;
    display: inline-block;
}

.subscribe-steps.three-steps {
    margin-left: 20%;
}

.help-block {
    font-size: 13px;
}
