#page_header_top
  .container.clearfix
    #tipster-logo-main.pull-left
      - home_url = ''
      - if account_signed_in?
        - home_url = backoffice_dashboard_path
      - else
        - home_url = backoffice_root_path
      %a{href: home_url}
        = image_tag 'tipster-logo-main.png', alt: 'Tipster hero', class: 'img-responsive'
    #menu-main.pull-right
      %ul.list-inline
        - if current_tipster
          %li
            %a{href: backoffice_dashboard_path}
              Dashboard
          %li
            %a#lk-toggle-select-create-tip-method{href: '#'}
              + New Tip
          %li
            %a{href: backoffice_my_tips_path}
              My Tips
          %li
            %a{href: backoffice_my_statistics_path}
              My Statistics
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"}
              = current_tipster.full_name
              %b.caret
            %ul.dropdown-menu
              %li{'data-no-turbolink' => true}
                %a{href: backoffice_my_profile_path} My Profile
              %li.divider
              %li
                %a{href: backoffice_sign_out_path} Sign Out

