#sign-up-modal-box.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header.text-center
        %h2.text-slim.text-primary.mbs.mts SIGN UP
      .modal-body
        .form-group
          .col-md-6
            %a.btn.btn-lg.btn-block.btn-social.btn-facebook{href: account_omniauth_authorize_path(:facebook)}
              %i.fa.fa-facebook
              Facebook
          .col-md-6
            %a.btn.btn-lg.btn-block.btn-social.btn-google-plus{href: account_omniauth_authorize_path(:google_oauth2)}
              %i.fa.fa-google-plus
              Google plus
        %p
          %br
        .text-center
          %h3.text-muted OR
        .row
          .col-md-10.col-md-offset-1
            = simple_form_for :account, url: account_registration_path, html: {id: 'sign-up-form'} do |f|
              .form-group
                = f.input_field :email, as: :email, placeholder: 'Email address',id: 'email', class: 'input-block input-lg', autocomplete: 'off'
              .form-group
                = f.input_field :password, as: :password, placeholder: 'Password',id: 'password', class: 'input-block input-lg'
              .form-group
                = f.input_field :password_confirmation, as: :password, placeholder: 'Re-type password',id: 'password_confirmation', class: 'input-block input-lg'
              .form-group
                %button.btn.btn-success.btn-block.btn-lg#submiter SIGN UP
        .text-center
          Already registered?
          %a.lk-toggle-sign-in-box{href: '#'}
            Sign In