#sign-in-modal-box.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h2.text-slim.text-primary.mbs.mts SIGN IN
      .modal-body
        .form-group
          .col-md-6
            %a.btn.btn-md.btn-block.btn-social.btn-facebook{href: account_omniauth_authorize_path(:facebook)}
              %i.fa.fa-facebook
              Facebook
          .col-md-6
            %a.btn.btn-md.btn-block.btn-social.btn-google-plus{href: account_omniauth_authorize_path(:google_oauth2)}
              %i.fa.fa-google-plus
              Google plus
        %p
          %br
        .text-center
          %h4.text-muted OR
        .row
          .col-md-10.col-md-offset-1
            = simple_form_for :account, url: account_session_path, html: {id: 'sign-in-form'} do |f|
              .form-group
                = f.input_field :email, as: :email, placeholder: 'Email address',id: 'email', class: 'input-block input-md', autocomplete: 'off'
              .form-group
                = f.input_field :password, as: :password, placeholder: 'Password',id: 'password', class: 'input-block input-md'
              #sign-in-message-container
              .form-group
                %button.btn.btn-success.btn-block.btn-md#submiter Sign In
        .text-center
          %a{href: new_account_password_path} Forgot password?
          |
          %a.lk-toggle-sign-up-box{href: '#'}
            Sign Up